.banner {
  background: #F6F6F6;
  padding: 120px 0;
  display: grid;
  place-items: center;
}
.content {
  max-width: 1180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.content>h3 {
  font-family: 'ginto';
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}
.content>p {
  width: 1000px;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}
.content>img {
  width: 100%;
}
.rotate {
  transform: rotate(90deg)
}
.button_wrapper {
  padding-top: 100px;
  width: 990px;
  height: 150px;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: url('./stars.svg');
  background-size: 990px, 150px;
  background-repeat: no-repeat;
}
.button_wrapper>h5 {
  font-size: 32px;
}
.button_wrapper>button {
  display: flex;
  align-items: center;
  font-size: 20px;
  height: 56px;
  padding: 0 2rem;
  font-family: 'ggsans';
  border-radius: 2rem;
  border: none;
  background: var(--discord-blue);
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.button_wrapper>button:hover {
  opacity: 0.6;
  box-shadow: -0px 8px 4px rgba(0, 0, 0, 0.25);
}
.mob_button {
  display: none;
  align-items: center;
  width: 324px;
  padding: 2rem;
}
.mob_button>h5 {
  flex: 1;
}

@media screen and (max-width: 768px) {
  .banner {
    padding: 60px 0;
  }
  .content {
    width: 324px;
  }
  .content>h3 {
    font-size: 2.4rem;
  }
  .content>p {
    font-size: 1rem;
    width: 324px;
  }
  .content>img {
    height: 196px;
  }
  .button_wrapper {
    width: 324px;
    background-size: 324px, 100px;
    padding-top: 0px;
  }
  .button_wrapper>button {
    display: none;
  }
  .button_wrapper>h5 {
    font-size: 32px;
    text-align: center;
  }
  .button_wrapper>.mob_button {
    display: flex;
  }
} 