.banner {
  background: var(--discord-blue);
  min-height: 640px;
  background-image: url('./public/hero3.svg'), url('./public/hero2.svg'), url('./public/hero1.svg') ;
  background-position: -20% 100%, 120% 100%, 50% 100%;
  background-repeat: no-repeat;
  background-size: 600px, 600px, auto;
}
.content {
  padding-top: 120px;
  padding-bottom: 10rem;
  width: 780px;
  margin: 0 auto;
  text-align: center;
}
.content>h1 {
  font-size: 4rem;
  font-family: 'ginto';
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
}
.content>p {
  font-size: 20px;
  line-height: 1.625;
  margin-top: 24px;
  color: #fff;
}
.rotate {
  transform: rotate(90deg)
}
.button_wrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.button_wrapper>button {
  display: flex;
  align-items: center;
  font-size: 20px;
  height: 56px;
  padding: 0 2rem;
  font-family: 'ggsans';
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.button_wrapper>button:last-child {
  background: #23272a;
  color: #fff;
}
.button_wrapper>button:hover {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}
.button_wrapper>button:first-child:hover {
  color: var(--discord-blue);
}
.button_wrapper>button:last-child:hover {
  opacity: 0.8;
}
.mob_button {
  display: none;
}
.mob_button>button {
  width: 320px;
  height: 80px;
  background: #fff;
  border: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  border-radius: 2rem;
  text-align: left;
}
.mob_button>button>h5 {
  flex: 1;
  font-size: 20px;
  font-weight: 400;
}
.mob_button>button>.rotate>svg {
  height: 20px;
}
@media screen and (max-width: 768px) {
  .banner {
    background-image: url('./public/hero3.svg');
    background-position: 150% 100%;
    background-size: 110%;
  }
  .content {
    margin-top: 80px;
    padding-top: 60px;
    width: 324px;
    text-align: left
  }
  .content>h1 {
    font-size: 1.5rem;
  }
  .content>p {
    font-size: 1rem;
    margin: 16px 0;
  }
  .button_wrapper {
    display: none;
  }
  .mob_button {
    display: block;
  }
}