.navbar {
  background: var(--discord-blue);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1180px;
  min-height: 80px;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  height: 34px;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.logo>h3 {
  font-family: 'ginto';
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.links {
  display: flex;
  gap: 3rem;
}
.links>a {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}
.links>a:hover{
  text-decoration: underline;
}
.login>button {
  font-family: 'ggsans';
  font-weight: 800;
  width: 66px;
  height: 38px;
  letter-spacing: 1px;
  padding: 0.5rem 0.75rem;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.login>button:hover {
  color: var(--discord-blue);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}
.mob_menu {
  display: none;
  padding-right: 5%;
}
.mob_menu>button {
  background: none;
  border: none;
}
.mob_menu>button>svg {
  width: 30px;
  height: 30px;
  color: #fff;
}
.mob_sidebar {
  z-index: 100;
  position: fixed;
  background: #fff;
  height: 100vh;
  width: 90vw;
  top: 0;
  right: 0;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  color: #000;
}
.mob_nav {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.mob_nav>.logo {
  height: 80px;
  margin: 0 1rem;
  border-bottom: 1px solid #c8c8c8e1;
  display: flex;
}
.mob_nav>.logo>button {
  margin-left: auto;
  border: none;
  background: none;
}
.mob_nav>.logo>button>svg {
  height: 20px;
}
.mob_links {
  margin-top: 20px;
  margin: 20px 1rem;
}
.mob_links>li {
  height: 40px;
  margin-left: 20px;
  font-weight: 600;
}
.mob_download {
  margin-top: auto;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mob_download>button {
  background: #5865f2;
  display: flex;
  align-items: center;
  color: #fff;
  border: none;
  width: 274px;
  height: 38px;
  border-radius: 40px;
  padding: 1rem;
}
.mob_download>button>svg {
  transform: rotate(90deg);
  height: 20px;
}
.mob_download>button>h3 {
  flex: 1;
  font-weight: 600;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .logo {
    padding-left: 5%;
  }
  .links {
    display: none;
  }
  .login {
    display: none;
  }
  .mob_menu {
    display: block;
  }
}