.navbar {
  background: var(--discord-blue);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1180px;
  min-height: 80px;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  height: 34px;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.logo>h3 {
  font-family: 'ginto';
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.links {
  display: flex;
  gap: 2rem;
}
.links>a {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}
.links>a:hover{
  text-decoration: underline;
}
.login>button {
  font-family: 'ggsans';
  font-weight: 800;
  letter-spacing: 1px;
  padding: 0.5rem 0.75rem;
  border-radius: 2rem;
  border: none;
}